#container{
    /*display: flex;
    flex-direction: row;
    justify-content: center;
    */
}
#inventory{
    float: left;
    width: 300px;
    height: 600px;
    background-color: green;
    margin-top: 100px;
    margin-left: 100px;
    margin-right: 100px;
    border: 2px solid black;
}
h2{
    border-bottom: 2px solid black;
}
.item{
    width: 100px;
}
.item-img{
    height: 80px;
}
#surrounding-container{
    width: 50%;
    margin: auto;
}
.rub{
    font-size: 50px;
    margin: auto;
}
#image-container{
    height: 500px;
    border: 5px solid black;
    background-size: cover;
    background-repeat: no-repeat;
}
#character-img{
    width: 30%;
    margin-top: 135px;
    margin-left: 130px;
}
#chat-box{
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: absolute;
    top: 100px;
    left: 700px;
    padding-top: 30px;
    padding-bottom: 55px;
    padding-left: 60px;
    padding-right: 60px;
    visibility: hidden;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(66, 62, 62);
}
#button-container{
    width: fit-content;
    margin: auto;
}
.button{
    width: 100px;
    border: 2px solid black;
    padding: 10px;
    background-color: green;
    text-align: center;
    font-size: 20px;
}
.choice{
    float: left;
    margin: 10px;
}
.description{
    font-size: 20px;
    margin-top: 8px;
    margin-bottom: 0px;
    text-align: center;
}

#logout{
    position: fixed;
    top: 0;
    right: 0;
}
#delete-account{
    position: fixed;
    top: 0;
    right: 125px;
}
#compass{
    position: absolute;
    top: 300px;
    right: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 300px;
    height: 300px;
    background-image: url("../images/compass.png");
    background-size: 300px 300px;
}
.row{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.direction{
    width: 100px;
    height: 100px;
    cursor: crosshair;
}
#middle{
    cursor: default;
}